*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    outline: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: #F0F4F5;
}

body {
    max-width: 1440px;
    background-color: #f0f4f5;
    overflow: hidden;
    margin: auto;
  }

nav{
    display: flex;
    align-items: center;
    justify-content: space-around ;
    margin-top:40px;
}

img[alt="logo"]{
    cursor: pointer;
    height: 40px;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:50px;
}

nav ul li{
    list-style: none;
}


nav ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    font-weight: 500;
}

nav ul li a:hover{
    text-decoration: none;
    color: #20BC7E;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    width: 350px;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 100px;
  }

form h1{
    text-align: center;
}
form div label{
    font-size: 20px;
    font-weight: 700;
}

form div input{
    margin-top: 5px;
    background-color: #ffffff;
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
}
form div textarea{
    margin-top: 5px;
    background-color: #ffffff;
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    resize: none;
}

form input[type="submit"]{
    background-color: #20BC7E;
    color: #F0F4F5;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 20px;
}
form input[type="submit"]:hover{
    background-color: #F0F4F5;
    color:  #20BC7E;
    border: 2px solid #20BC7E;
    padding: 3px 8px;
}

